<div
  @fadeInOut
  class="flex flex-col xl:flex-row xl:w-8/12 gap-16 mx-auto lg:mt-16"
>
  <div>
    <img
      width="500px"
      src="{{ statics_links.personal }}"
      alt=""
      class="rounded-2xl mx-auto shadow-xl"
    />
  </div>
  <div class="w-full">
    <div class="w-content h-full mx-auto">
      <h1 class="text-3xl font-medium leading-relaxed lg:text-7xl mt-8">
        Hi there !
      </h1>
      <p class="text-third text-gray-700 text-2xl mt-8">
        Hello, my name is Kamel. After earning a master's degree in
        telecommunications, I began my career as a network engineer. However, I
        discovered my true passion for software development and web development.
        Now, I'm fortunate to be living my passion as a full-time full stack
        developer.
      </p>
    </div>
  </div>
</div>
