<main @fadeInOut>
  <div class="max-w-primary flex mx-auto gap-24 pt-6">
    <div class="w-full flex flex-col justify-center gap-8">
      <h1 class="text-5xl font-bold">
        About <span class="text-secondary">me</span>
      </h1>
      <p class="text-gray-400 text-xl leading-relaxed">
        Greetings, I am Kamel. Following the completion of my master's degree in
        telecommunications, I embarked on a professional journey as a network
        engineer. Subsequently, I identified my genuine enthusiasm for software
        development and web development. Presently, I am privileged to be
        immersed in my passion as a full-time full-stack developer.
      </p>
      <app-secondary-button routerLink="/portfolio">
        Check my work
      </app-secondary-button>
    </div>
    <img class="w-full" src="/assets/about-me.svg" alt="" />
  </div>
</main>
