<div @fadeInOut class="flex flex-col xl:flex-row border border-gray-900 2xl:w-3/4 gap-8 mx-auto rounded-lg shadow-lg">
    <div class="w-content">
        <img width="700px" src="{{statics_links.personal}}" alt="" class="rounded-l-lg">
    </div>
    <div class="w-full px-6">
        <div class="w-full h-full text-secondary flex flex-col justify-around">
            <h1 class="text-5xl font-bold leading-relaxed pt-2">Mustapha Kamel Dine</h1>
            <h2 class="text-3xl text-four font-semibold">Web developer</h2>
            <p class="leading-10 my-8 text-xl text-third">
                Graduated with a master degree in telecommunications, I first started as a network engineer. <br>
                I found myself more passionated by softwares and web developpement.<br>
                I'm now living by my passion and working as a full-time full stack developer in a local startup. <br>
                I love challenges and put all my heart in my work to solve daily problems. 
            </p>
        </div>
    </div>
</div>