header > div:last-child > a {
  @apply block transition duration-500 px-4 py-2 rounded-full;
}

a:hover > i {
  @apply text-four duration-500;
}

.nav-item:hover > span {
  @apply text-primary bg-four duration-500;
}

.nav-item:hover {
  @apply border-transparent bg-gray-800 duration-500;
}