<div class="relative z-50 px-12 max-w-1400 mx-auto h-screen">
  <header class="fixed bg-primary bg-opacity-80 lg:bg-transparent z-50 w-full px-8 lg:px-32 py-6 lg:py-12 mx-auto right-0 left-0 flex justify-between text-lg text-secondary">
    <div>
      <a
        class="block pt-4 lg:pt-0 text-secondary rounded-full text-xl lg:text-lg" 
        routerLink="">
        <i class="fa-solid fa-home fa-2xl lg:fa-lg "></i>
        </a>
    </div>
    <div @slideRight class="hidden lg:flex relative">
        <div (click) = "show_nav()" class="cursor-pointer absolute z-50 right-3">
          <i *ngIf = "!nav" class="fas fa-bars fa-xl"></i>
          <i *ngIf = "nav" class="fas fa-times fa-2xl"></i>
        </div>
        <div @fadeInOut *ngIf = "nav" class="w-96 h-96 absolute rounded-full -left-52 -top-52 z-0">
          <a class="nav-item absolute w-16 h-16 rounded-full top-44 left-6 border border-gray-800 cursor-pointer">
            <i class="fas fa-address-card fa-xl absolute w-content mx-auto top-1/2 -translate-y-1/2 left-0 right-0"></i>
            <span @fadeIn class="absolute bg-secondary text-primary -left-20 top-4 px-4 rounded-tl-xl rounded-br-xl text-sm font-semibold">
              About
            </span>
          </a>
          <a class="nav-item absolute w-16 h-16 rounded-full top-64 left-16 border border-gray-800 cursor-pointer">
            <i class="fas fa-briefcase fa-xl absolute w-content mx-auto top-1/2 -translate-y-1/2 left-0 right-0"></i>
            <span @fadeIn class="absolute bg-secondary text-primary -left-24 top-5 px-4 rounded-tl-xl rounded-br-xl text-sm font-semibold">
              Portfolio
            </span>
          </a>
          <a class="nav-item absolute w-16 h-16 rounded-full top-72 left-40 border border-gray-800 cursor-pointer">
            <i class="fas fa-book fa-xl absolute w-content mx-auto top-1/2 -translate-y-1/2 left-0 right-0"></i>
            <span @fadeIn class="absolute bg-secondary text-primary -left-4 top-20 px-4 rounded-tl-xl rounded-br-xl text-sm font-semibold">
              Tutorials
            </span>
          </a>
          <a (click) = "show_nav()" routerLink = "/skills/" class="nav-item absolute w-16 h-16 rounded-full top-60 left-64 border border-gray-800 cursor-pointer">
            <i class="fas fa-code fa-xl absolute w-content mx-auto top-1/2 -translate-y-1/2 left-0 right-0"></i>
            <span @fadeIn class="absolute bg-secondary text-primary left-0 top-20 px-4 rounded-tl-xl rounded-br-xl text-sm font-semibold">
              Skills
            </span>
          </a>
        </div>
    </div>
    <div
      (click)="show_mobile_nav()"
      class="w-16 h-16 border border-gray-900 rounded-lg lg:hidden relative"
    >
      <span class="block w-content absolute top-1/4 left-0 right-0 mx-auto">
        <i
          [ngClass]="{ 'fa-bars': !mobile_nav, 'fa-xmark': mobile_nav }"
          class="fa-solid fa-2xl text-gray-200"
        ></i>
      </span>
    </div>
  </header>
  <main class="mx-auto min-h-screen py-44">
    <router-outlet></router-outlet>
  </main>
  <footer class="border-t border-secondary text-secondary py-12">
      <div class="w-1/6 mx-auto flex gap-12">
        <div>
          <a (mouseenter) = "hover_footer(1)" (mouseleave) = "unhover_footer(1)" href="https://www.facebook.com/K.Mustapha96" target="_blank" class="footer-link"><i [ngClass] = "{'fa-beat' : flip_footer.flip_1}" class="fab fa-facebook fa-2xl cursor-pointer"></i></a>
        </div>
        <div>
          <a (mouseenter) = "hover_footer(2)" (mouseleave) = "unhover_footer(2)" href="https://www.linkedin.com/in/mustapha-kamel-dine/" target="_blank" class="footer-link"><i [ngClass] = "{'fa-beat' : flip_footer.flip_2}" class="fa-brands fa-linkedin fa-2xl cursor-pointer"></i> </a>
        </div>
        <div>
          <a (mouseenter) = "hover_footer(3)" (mouseleave) = "unhover_footer(3)" href="https://www.instagram.com/kamel.mustapha9/" target="_blank" class="footer-link"><i [ngClass] = "{'fa-beat' : flip_footer.flip_3}" class="fa-brands fa-instagram fa-2xl cursor-pointer"></i></a>
        </div>
        <div>
          <a (mouseenter) = "hover_footer(4)" (mouseleave) = "unhover_footer(4)" href="https://twitter.com/KamelMustapha" target="_blank" class="footer-link"><i [ngClass] = "{'fa-beat' : flip_footer.flip_4}" class="fa-brands fa-twitter fa-2xl cursor-pointer"></i></a>
        </div>
      </div>
      <div class="text-center mt-8">
        <a routerLink="/contact/" class="text-lg hover:opacity-30 duration-500">Contact me</a>
      </div>
  </footer>
</div>
<img *ngIf = "prod" class="fixed blur-3xl contrast-150 top-0 left-0 back w-full h-full" src="static/assets/coding.avif" alt="">
<img *ngIf = "!prod" class="fixed blur-3xl contrast-150 top-0 left-0 back w-full h-full" src="../assets/coding.avif" alt="">
