<div class="relative z-50 px-12 max-w-1400 mx-auto h-screen">
  <header class="fixed bg-primary bg-opacity-80 lg:bg-transparent z-50 w-full px-8 lg:px-32 py-6 lg:py-12 mx-auto right-0 left-0 flex justify-between text-lg text-secondary">
    <div>
      <a
        class="block pt-4 lg:pt-0 text-secondary rounded-full text-xl lg:text-lg" 
        routerLink="">
        <i class="fa-solid fa-home fa-2xl lg:fa-lg "></i>
        </a>
    </div>
    <div @slideRight class="hidden lg:flex justify-around gap-16">
      <a routerLink="about">
        <i class="fa-solid fa-address-card"></i>
        About
      </a>
      <a routerLink="portfolio">
        <i routerLinkActive = "text-four" class="fa-solid fa-briefcase"></i>
        Portfolio
      </a>
      <a routerLink="/skills/"><i class="fa-solid fa-code"></i> Skills</a>
      <a routerLink="/tutorials/"><i class="fa-solid fa-book"></i> Tutorials</a>
    </div>
    <div
      (click)="show_mobile_nav()"
      class="w-16 h-16 border border-gray-900 rounded-lg lg:hidden relative"
    >
      <span class="block w-content absolute top-1/4 left-0 right-0 mx-auto">
        <i
          [ngClass]="{ 'fa-bars': !mobile_nav, 'fa-xmark': mobile_nav }"
          class="fa-solid fa-2xl text-gray-200"
        ></i>
      </span>
    </div>
  </header>
  <main class="mx-auto py-52">
    <router-outlet></router-outlet>
  </main>
</div>
<img class="fixed blur-3xl contrast-150 top-0 left-0 back w-full h-full" src="static/assets/coding.avif" alt="">
 
