<div @slideIn @fadeInOut>
  <div class="text-headline mx-auto sm:text-center sm:w-3/4">
    <h1 class="font-bold leading-relaxed mt-16 text-4xl lg:mt-0 lg:text-6xl ">Web Developer <span class="text-secondary pulse">|</span><div class="mt-8">Network Engineer</div></h1>
    <p class="leading-extra my-20 lg:my-8 text-xl text-paragraph">
      I'm glad to see you here ! You will find all what you need to know about me. 
      I will be more than happy to share with you all my skills and experience.
    </p>
    <a routerLink="/about">
      <button class="w-full sm:w-content">
        More about me
      </button>
    </a>
  </div>
</div>
