<!-- <div
  @slideIn
  @fadeInOut
  class="sm:w-9/12 lg:mt-12 mx-auto flex flex-col gap-6"
>
  <h1 class="font-medium text-5xl lg:text-7xl">
    A dedicated web developer with a passion for crafting websites, APIs, and
    other exciting digital creations.
  </h1>
  <p class="my-6 lg:my-8 text-2xl text-paragraph text-gray-300">
    Full Stack Web Developer
  </p>
  <a
    routerLink="/portfolio"
    class="bg-white text-black text-xl rounded-lg px-10 py-4 w-content"
  >
    View Work
  </a>
</div> -->
<main @fadeInOut>
  <div class="max-w-primary mx-auto flex items-center py-14">
    <div class="flex gap-2">
      <div class="pt-8">
        <img src="/assets/arrow-down.svg" width="85" alt="" />
      </div>
      <div class="w-full flex flex-col gap-12">
        <h1 class="font-bold text-7xl">
          CREATIVE <span class="text-secondary">WEB DEVELOPER</span>
        </h1>
        <div class="flex gap-6 items-center">
          <app-primary-button routerLink="/about">
            About me
          </app-primary-button>
          <app-secondary-button routerLink="/portfolio">
            My work
          </app-secondary-button>
        </div>
      </div>
    </div>
    <img class="" width="450" src="/assets/illustration-1.svg" alt="" />
  </div>
</main>
