<div
  class="grid items-center sm:grid-cols-2 lg:grid-cols-3 gap-12"
  @slideIn
  @fadeInOut
>
  <a
    class="block w-full bg-white rounded-xl cursor-pointer shadow-lg hover:shadow-2xl hover:-translate-y-2 duration-500"
  >
    <img
      class="block rounded-t-lg h-72 w-full"
      src="https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg"
      alt=""
    />
    <h1 class="px-4 py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, vulputate sed elit vitae, semper egestas purus.
    </h1>
  </a>
  <a
    class="block w-full bg-white rounded-xl cursor-pointer shadow-lg hover:shadow-2xl hover:-translate-y-2 duration-500"
  >
    <img
      class="block rounded-t-lg h-72 w-full"
      src="https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg"
      alt=""
    />
    <h1 class="px-4 py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, vulputate sed elit vitae, semper egestas purus.
    </h1>
  </a>
  <a
    class="block w-full bg-white rounded-xl cursor-pointer shadow-lg hover:shadow-2xl hover:-translate-y-2 duration-500"
  >
    <img
      class="block rounded-t-lg h-72 w-full"
      src="https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg"
      alt=""
    />
    <h1 class="px-4 py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, vulputate sed elit vitae, semper egestas purus.
    </h1>
  </a>
  <a
    class="block w-full bg-white rounded-xl cursor-pointer shadow-lg hover:shadow-2xl hover:-translate-y-2 duration-500"
  >
    <img
      class="block rounded-t-lg h-72 w-full"
      src="https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg"
      alt=""
    />
    <h1 class="px-4 py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, vulputate sed elit vitae, semper egestas purus.
    </h1>
  </a>
  <a
    class="block w-full bg-white rounded-xl cursor-pointer shadow-lg hover:shadow-2xl hover:-translate-y-2 duration-500"
  >
    <img
      class="block rounded-t-lg h-72 w-full"
      src="https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg"
      alt=""
    />
    <h1 class="px-4 py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
      justo, vulputate sed elit vitae, semper egestas purus.
    </h1>
  </a>
</div>
