a {
  @apply text-white font-medium text-center;
}

/* a > span {
    @apply block w-0 h-1 bg-gray-100 rounded-lg duration-500 ;
} */

/* a:hover > span {
  @apply w-full bg-secondary;
} */

.mobile_links {
  @apply border-b shadow-md;
}
.mobile_links > a {
  @apply py-5 text-lg font-medium;
}

header.mobile > div:last-child > a {
  @apply block w-content mx-auto cursor-default py-6 text-lg;
}

.hamburger {
  @apply w-10 h-8 relative;
}

.hamburger > span {
  @apply block h-[5px] absolute w-full bg-gray-200 rounded-xl duration-500;
}

.hamburger > span:first-child {
  @apply top-0;
}

.hamburger > span:nth-child(2) {
  @apply top-1/2 -translate-y-1/2;
}

.hamburger > span:last-child {
  @apply bottom-0;
}
