<div @fadeInOut class="flex flex-col lg:flex-row justify-around w-3/4 mx-auto text-paragraph text-center">
    <div class="w-full flex flex-col">
        <div>
            <div class="title">
                Global
            </div>
            <div class="py-4 leading-8">
                <span><i class="fas fa-birthday-cake"></i> 04/08/1996</span> <br>
                <span><i class="fas fa-address-book"></i> Sidi Bel Abbes - Algeria</span> <br>
                <span><i class="fas fa-phone"></i> +213672447580</span> <br>
                <span><i class="fas fa-envelope"></i> kamel.dine@hotmail.com</span>
            </div>
        </div>
        <div>
            <div class="title">
                Experience
            </div>
            <p>
                <span>November 2021 - Present :</span> <br>
                Full-stack developer at Sfizer Global Solutions
            </p>
            <p>
                <span>October 2020 - November 2021 :</span> <br>
                Freelance software developer
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col">
        <div>
            <div class="title">
                Trainings
            </div>
            <p>
                <span>2020 - Present :</span> <br>
                Private trainings in coding and cloud
            </p>
            <p>
                <span>2018 - 2020 :</span> <br>
                Master in telecommuncations
            </p>
            <p>
                <span>2015 - 2018 :</span> <br>
                Licence in global telecommuncations
            </p>
        </div>
        <div>
            <div class="title">
                Diplomas
            </div>
            <p>
                <span>2020 :</span> <br>
                Master degree in telecommuncations
            </p>
            <p>
                <span>2021 :</span> <br>
                Cisco Certified Network Associate (CCNA)
            </p>
            <p>
                <span>2021 :</span> <br>
                Huawei Certified ICT Associate (HCIA)
            </p>
        </div>
    </div>
</div>