@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  @apply bg-primary text-white;
  /* background-color: #000; */
}

body::-webkit-scrollbar {
  display: none;
}

.hover-after {
  @apply relative opacity-60 duration-200 hover:opacity-100 after:absolute after:bottom-0 after:mx-auto after:right-0 after:left-0 after:rounded-full after:bg-secondary after:w-0 hover:after:w-full after:h-[3px] after:duration-200;
}

.active-after {
  @apply relative opacity-100 after:absolute after:bottom-0 after:w-full after:rounded-full after:bg-secondary after:h-[3px];
}
