<footer class="text-center text-gray-100">
    <div class="bg-gray-900 py-6 flex justify-center gap-6">
        <a href="https://github.com/kamel-mustapha" target="_blank"><i class="fab fa-github fa-xl"></i></a>
        <a href="https://www.linkedin.com/in/mustapha-kamel-dine/" target="_blank"><i class="fab fa-linkedin fa-xl"></i></a>
        <a href="https://www.facebook.com/K.Mustapha96/" target="_blank"><i class="fab fa-facebook fa-xl"></i></a>
    </div>
    <div class="bg-gray-900 py-6 text-center border-t border-gray-800">
        <a routerLink="/contact">Contact</a>
    </div>
</footer>