<footer
  class="text-center text-gray-900 flex flex-col-reverse lg:flex-row gap-12 justify-between py-8 xl:w-3/4 mx-auto border-t border-gray-300"
>
  <div class="text-gray-900">
    Created by <span class="text-gray-400">Mustapha Kamel Dine</span>
  </div>
  <div class="flex justify-center gap-6">
    <a href="https://github.com/kamel-mustapha" target="_blank"
      ><i class="fab fa-github fa-xl text-gray-800"></i
    ></a>
    <a href="https://www.linkedin.com/in/mustapha-kamel-dine/" target="_blank"
      ><i class="fab fa-linkedin fa-xl text-gray-800"></i
    ></a>
    <a href="https://www.facebook.com/K.Mustapha96/" target="_blank"
      ><i class="fab fa-facebook fa-xl text-gray-800"></i
    ></a>
  </div>
</footer>
